.containerPassword {
    width: 100vw;
    height: 100vh;
    background-image: url('../../services/imgs/photo-of-orange-yellow-and-red-hello-molding-clay-954599.jpg');
    background-size: cover;
    padding-top: 2rem;

    .passwordForm {
        width: 50vw;
        height: 33vh;
        margin: 0 auto;
        background-color: rgba(255, 99, 71, 0.3);
        border-radius: 12px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        h2 {
            text-align: center;
        }

        * {
            min-width: 100%;
        }
    }
}