.home-container {
    max-width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;

    .form-container {

        display: flex;
        flex-direction: row;

        background-image: url('../../services/imgs/pencils.png');
        background-repeat: no-repeat;
        background-size: cover;

        .home-form {
            width: 45%;
            margin: 0 auto;
            border: 1px solid tomato;
            border-radius: 12px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            background-color: rgba(255, 0, 0, 0.1);
    
            button, input, select, a {
                width: 75%;
                button {
                    width: 100%;
                }
            }
    
            .tick {
                width: 1rem;
                height: auto;
                margin-left: 1rem;
            }

            input[type='radio'] {
                display: none;
            }
        }
    }

    .list-container {
        
        width: 100%;
        height: auto;
        
        .order-selector {
            width: 100%;
            margin: 2rem auto;
        }

        .searchResults {
            background-image: url('../../services/imgs/diaPencils.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}