.containerSettings {
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;

    background-image: url('../../services/imgs/bird-s-eye-view-of-sea-during-daytime-3369569.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .settingsForm {

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            width: 90%;
            text-align: center;
        }

        * {
            width: 90%;
        }

        button {
            width: 90%;
        }

        a {
            width: 90%;

            button {
                width: 100%;
            }
        }
    }

    h1 {
        width: 100%;
        text-align: center;
    }

    .personalAds, .favoriteAds {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}